
<script type="text/javascript" id="dxss_UserChangePasswordScripts">

    function OnValidation() {

        var oldpw = tbOldPassword.GetValue();
        var newpw = tbNewPassword.GetValue();
        var confirmpw = tbConfirmPassword.GetValue();

        var t = App.Settings.DataPage.ValidationMessageTransitionTime;

        if (newpw.length < 6) {
            $("#NewPWLengthError").show(t);
            return false;
        } else {
            $("#NewPWLengthError").hide(t);
        }

        if (oldpw == newpw) {
            $("#NewPWDiffError").show(t);
            return false;
        } else {
            $("#NewPWDiffError").hide(t);
        }

        if (newpw != confirmpw) {
            $("#ConfirmationMatchError").show(t);
            return false;
        } else {
            $("#ConfirmationMatchError").hide(t);
        }

        return true;
    }

    function btnChangePasswordClick() {

        var oldpw = tbOldPassword.GetValue();
        var newpw = tbNewPassword.GetValue();
        var confirmpw = tbConfirmPassword.GetValue();

        if (OnValidation() == false) {
            return;
        }

        $.ajax({
            url: "/Account/UserChangePassword",
            type: "POST",
            data: { OldPassword : oldpw, NewPassword : newpw, ConfirmPassword : confirmpw },
            success: function (r) {
                if (r.substring(0, 4) == "ERR:") {
                    App.Dialogs.Error(r.substring(5));
                } else {
                    App.Popup.Hide("cancelled");
                    App.Dialogs.MessageBox("Your password was updated successfully.", App.Dialogs.Icons.Ok);
                }
            },
            error: function (r) {
                App.Dialogs.Error(r);
            }
        });
    }

    function btnCancelClick(s, e) {
        App.Popup.Hide("cancelled");
    }

</script>



<form action="none" id="form-change-password-input">

    <div class="form-section">
        <div class="form-section-content">

            <div class="form-row">
                @Html.DevExpress().TextBox(
                    s => {
                        s.Name = "tbOldPassword";
                        s.Properties.Caption = "Old Password";
                        s.Properties.CaptionCellStyle.Width = 115;
                        s.Properties.Password = true;
                    }
               ).GetHtml()
            </div>

            <div class="form-row">
                @Html.DevExpress().TextBox(
                    s => {
                        s.Name = "tbNewPassword";
                        s.Properties.Caption = "New Password";
                        s.Properties.CaptionCellStyle.Width = 115;
                        s.Properties.Password = true;
                    }
               ).GetHtml()
                <span id="NewPWLengthError" class="validation-label">New password must be at least 6 characters long.</span>
                <span id="NewPWDiffError" class="validation-label">New password cannot be the same as the Old password.</span>
            </div>

            <div class="form-row">
                @Html.DevExpress().TextBox(
                    s => {
                        s.Name = "tbConfirmPassword";
                        s.Properties.Caption = "Confirm Password";
                        s.Properties.CaptionCellStyle.Width = 115;
                        s.Properties.Password = true;
                    }
               ).GetHtml()
                <span id="ConfirmationMatchError" class="validation-label">New password doesn't match confirmation password.</span>
            </div>

        </div>
    </div>

</form>

<div id="ChangePasswordActionButtons" style="width: 100%; margin: 20px 0 0 115px;">

    <table>
        <tr>
            <td>
                @Html.DevExpress().Button(
                    s => {
                        s.Name = "btnChangePassword";
                        s.ClientSideEvents.Click = "btnChangePasswordClick";
                        s.Text = "Change Password";
                    }
                ).GetHtml()
            </td>
            <td style="padding-left: 2px;">
                @Html.DevExpress().Button(
                    s => {
                        s.Name = "btnCancel";
                        s.ClientSideEvents.Click = "btnCancelClick";
                        s.Text = "Cancel";
                    }
                ).GetHtml()
            </td>
        </tr>
    </table>

</div>

