@model AABC.Web.Models.Shared.ProviderInsuranceCredentialVM

@using (Html.BeginForm("InsuranceCredentialForm", "Providers", FormMethod.Post, new {id = "ProviderInsuranceCredentialForm"})) {

@Html.HiddenFor(model => model.Id);

    <input type="hidden" name="ProviderId" value="@Model.ProviderId"/>

@Html.DevExpress().ComboBox(
        s =>
        {
            s.Name = "InsuranceId";
            s.Properties.TextField = "InsuranceName";
            s.Properties.ValueField = "ID";
            s.Properties.ValueType = typeof(int);
            s.Width = 200;
            s.Properties.Caption = "Insurance";
            s.Properties.CaptionCellStyle.Width = 100;

        }
    ).BindList(Model.InsuranceList).Bind(Model.InsuranceId).GetHtml()

    <div class="spacer-10"></div>
    @Html.DevExpress().DateEdit(
        s =>
        {
            s.Name = "StartDate";
            s.Properties.Caption = "Start Date";
            s.Properties.CaptionCellStyle.Width = 150;
            s.Width = 100;
        }
    ).Bind(Model.StartDate).GetHtml()
    <div class="spacer-10"></div>
    @Html.DevExpress().DateEdit(
        s =>
        {
            s.Name = "EndDate";
            s.Properties.Caption = "End Date";
            s.Properties.CaptionCellStyle.Width = 150;
            s.Width = 100;
        }
    ).Bind(Model.EndDate).GetHtml()
    <div class="spacer-10"></div>

    <div style="float: right;">
        <table>
            <tr>
                <td>
                    @Html.DevExpress().Button(
                        s => {
                            s.Name = "btnzluOk";
                            s.Width = 75;
                            s.Text = "Ok";
                            s.ClientSideEvents.Click = "function(s, e) { Insurances.Select(); }";
                        }
                    ).GetHtml()
                </td>
                <td style="padding-left: 5px;">
                    @Html.DevExpress().Button(
                        s => {
                            s.Name = "btnzluCancel";
                            s.Width = 75;
                            s.Text = "Cancel";
                            s.ClientSideEvents.Click = "function(s, e) { App.Popup.Hide('cancel'); }";
                        }
                    ).GetHtml()
                </td>
            </tr>
        </table>
    </div>


}
